.App{
  background-color: #fbb12f;
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
}

.grid-container>div{
  margin-top: -3.2vw;
  margin-left: -5vw;
  z-index: 1;
}

/* .grid-container>div:nth-child(10n + 1),
.grid-container>div:nth-child(10n + 2),
.grid-container>div:nth-child(10n + 3),
.grid-container>div:nth-child(10n + 4),
.grid-container>div:nth-child(10n + 5){
  margin-left: .5vw;
}

.text-test{
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 24px;
  color: red;
  position: absolute;
}
