
/* HEXAGON PAGE

/* .App{
  background-color: #fbb12f;
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);
}

.grid-container>div{
  margin-top: -3.2vw;
  margin-left: -5vw;
  z-index: 1;
} */

/* SVG PAGE */

.App {
  text-align: center;
  background-color: #002233;
}