@media only screen and (max-width: 400px) {

  header {
    height: 5vh;
    width: 100vw;
    background-color: aqua;
  }
  
  main {
    height: 54vh;
    width: 100vw;
    background-color: greenyellow;
  }
  
  .widget {
    height: 34vh;
    width: 100vw;
    background-color: blueviolet;
  }
  
  footer {
    height: 5vh;
    width: 100vw;
    background-color: blue;
  }
}


@media only screen and (max-width: 768px) and (min-width: 401px) {

  .wrapper {
    display: flex;
  }

  header {
    height: 98vh;
    width: 25vw;
    background-color: aqua;
  }
  
  main {
    height: 59vh;
    width: 75vw;
    background-color: greenyellow;
  }
  
  .widget {
    height: 34vh;
    width: 75vw;
    background-color: blueviolet;
  }
  
  footer {
    height: 5vh;
    width: 75vw;
    background-color: blue;
  }
}

@media only screen and  (min-width: 769px) {

  .wrapper {
    display: flex;
  }

  header {
    height: 98vh;
    width: 25vw;
    background-color: aqua;
  }
  
  main {
    height: 59vh;
    width: 75vw;
    background-color: greenyellow;
  }
  
  .widget {
    height: 34vh;
    width: 75vw;
    background-color: blueviolet;
  }
  
  footer {
    height: 5vh;
    width: 75vw;
    background-color: blue;
  }
}