.hexagon{
    height: 11vw;
    width: 10vw;
    background-color: white;
    margin: .5vw;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
  }

.clear{
    background-color: transparent;
}